body, .ship, .selected-ship, #orient-button, #game-updater, #winner-box, .rotated-button, #buttons, #shipyard {
  display: flex;
}

body {
  /* This will be made into its own div or something, this is just so the boards show up separately */
  justify-content: space-around;
}

.board {
  display: grid;
  grid-template: auto auto auto auto auto auto auto auto auto auto / auto auto auto auto auto auto auto auto auto auto;
  height: 200px;
  width: 300px;
  margin: 0;
}

.square,
.unplayed-square,
.hit-square,
.miss-square,
.occupied-square,
.sunk-square {
  display: grid;
  border: 0.5pt solid black;
  background-color: royalblue;
}

.unplayed-square:hover {
  transform: scale(1.25);
}

.occupied-square {
  background-color: gray;
}

.hit-square {
  background-color: red;
}

.miss-square {
  background-color: goldenrod;
}

.sunk-square {
  background-color: navy;
}

.selected-ship {
  transform: scale(1.1);
}

#orient-button {
  justify-content: center;
  align-items: center;
}

#game-updater, #winner-box, .rotated-button, #buttons, #shipyard {
  flex-direction: column;
}

#buttons {
  justify-content: space-evenly;
}

#shipyard {
  justify-content: space-between;
}

.ship-square {
  height: 20px;
  width: 20px;
  background-color: gray;
  border: 1pt solid black;
}
