@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");

body {
  font-family: "Share Tech Mono", monospace;
  background-color: #41b3a3;
  scrollbar-color: gray royalblue;
}

button {
  font-family: inherit;
  font-size: 1em;
}

#main-stage,
#stage-one,
#start-box,
.ship,
#orient-button,
#game-updater,
#winner-box,
.rotated-button {
  display: flex;
}

#main-stage {
  justify-content: space-around;
  align-items: center;
}

#game-updates {
  height: 400px;
  overflow-y: scroll;
}

.board {
  display: grid;
  grid-template: auto auto auto auto auto auto auto auto auto auto / auto auto auto auto auto auto auto auto auto auto;
  height: 300px;
  width: 500px;
  margin: 0;
}

.square,
.unplayed-square,
.hit-square,
.miss-square,
.occupied-square,
.sunk-square {
  display: grid;
  border: 0.5pt solid black;
  background-color: royalblue;
}

.unplayed-square:hover {
  transform: scale(1.25);
}

.occupied-square {
  background-color: gray;
}

.hit-square {
  background-color: red;
}

.miss-square {
  background-color: goldenrod;
}

.sunk-square {
  background-color: navy;
}

.selected-ship {
  display: flex;
  transform: scale(1.1);
}

#orient-button,
#game-updater,
#start-box,
#winner-box,
#stage-one {
  justify-content: center;
  align-items: center;
}

#play-again-button {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

#game-updater,
#stage-one,
#winner-box,
.rotated-button {
  flex-direction: column;
}

.ship-square {
  height: 20px;
  width: 20px;
  background-color: gray;
  border: 1pt solid black;
}

#start-button {
  margin: 100px;
  height: 50px;
  width: 500px;
}

#start-button:enabled {
  border-radius: 5px;
  background-color: green;
  font-size: 20px;
  color: white;
  font-weight: bold;
}

#stage-one > #main-stage {
  display: grid;
  grid-template-columns: 1fr 107.328pt auto;
  column-gap: 100px;
}

#button-box {
  display: flex;
  justify-content: center;
}

.rotated-button {
  width: 15pt;
  height: 85pt;
}

.shipyardRL {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 300px;
  width: 300px;
}

.shipyardUD {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 300px;
  width: 300px;
}

.ship-rotated {
  display: flex;
  flex-direction: column;
}

.selected-ship-rotated {
  display: flex;
  flex-direction: column;
  transform: scale(1.1);
}
